<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <!-- leftpanel -->
  <div class="mainpanel">
    <div class="pageheader">
      <h2><i class="fa fa-envelope"></i>  Manage Sales<span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <ul class="nav nav-tabs" id="custom-tabs">
        <li class="active"><a href="#priority" data-toggle="tab">New</a></li>
        <li><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#delivered" data-toggle="tab">Delivered</a></li>
        <li><a href="#cancelled" data-toggle="tab">Cancelled</a></li>
      </ul>
        <div class="row search-filter">
          <%= form_tag manage_sales_dashboard_path  do %>
            <div class="col-md-offset-3 col-md-6">            
              <%= select_tag "search_date", options_for_select([ "Today", "This Week", "1 Month Ago", "2 Month Ago", "3 Month Ago" , "All"], "Select An Option") %>
            </div>
            <div>
              <%= submit_tag "Search" ,class: "search-btn"%>
            </div>
          <% end %>
        </div>
      <!-- Tab panes -->
      <div class="tab-content mb30 custom-tabs-content">
        <div class="tab-pane active" id="priority">
          <%= render partial: 'dashboard/shared/orders', locals: {orders: @orders} %>
        </div>
        <div class="tab-pane" id="active">
          <%= render partial: 'dashboard/shared/orders',locals: {orders: @active_orders} %>
        </div>
        <div class="tab-pane" id="delivered">
           <%= render partial: 'dashboard/shared/orders',locals: {orders: @delivered_orders} %>
        </div>
        <div class="tab-pane" id="cancelled">
          <%= render partial: 'dashboard/shared/orders',locals: {orders: @canceled_orders} %>
        </div>
      </div>
    </div>
  </div>
</section>
