<!-- Preloader -->
<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <!-- leftpanel -->
  <div class="mainpanel">
    <div class="pageheader">
      <h2><i class="fa fa-envelope"></i>  Manage Sales<span>Subtitle goes here...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <ul class="nav nav-tabs" id="custom-tabs">
        <li class="active"><a href="#priority" data-toggle="tab">Priority</a></li>
        <li><a href="#new" data-toggle="tab">New</a></li>
        <li><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#late" data-toggle="tab">Late</a></li>
        <li><a href="#delivered" data-toggle="tab">Delivered</a></li>
        <li><a href="#completed" data-toggle="tab">Completed</a></li>
        <li><a href="#cancelled" data-toggle="tab">Cancelled</a></li>
      </ul>
        <div class="row search-filter">
          <%= form_tag manage_sales_dashboard_path  do %>
            <div class="col-md-offset-3 col-md-6">            
              <%= select_tag "search_date", options_for_select([ "Today", "This Week", "1 Month Ago", "2 Month Ago", "3 Month Ago" , "All"], "Select An Option") %>
            </div>
            <div>
              <%= submit_tag "Search" ,class: "search-btn"%>
            </div>
          <% end %>
        </div>
      <!-- Tab panes -->
      <div class="tab-content mb30 custom-tabs-content">
        <div class="tab-pane active" id="priority">
          <div class="table-responsive">
            <h4>Priority Orders</h4>
            <table class="table table-info mb30 product_table">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Product Details</th>
                  <th>Buyer Name</th>
                  <th>Total Price</th>
                  <th>Order Date</th>
                  <th>Order Time</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order|%>
                  <tr class="first odd">
                    <td><%= order.id %></td>
                    <td class="image">
                      <%= image_tag asset_path(order.product.galleries.first.photo.url), size: "60x60" %>
                      <%= order.product.title %>
                    </td>
                    <td><%= User.find(order.order.user_id).full_name if order.order.user_id.present? %></td>
                    <td class="a-center hidden-table">
                      <%= order.total_price.to_f %>
                    </td>
                    <td class="a-center hidden-table">
                      <%= order.created_at.strftime("%d %B %Y")%> 
                    </td>
                    <td class="a-center hidden-table">
                      <%= order.created_at.to_time.strftime("%r")%> 
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="new">
          <div class="table-responsive">
            <h4>New Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Product</th>
                  <th>Delivery time</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="active">
          <div class="table-responsive">
            <h4>Active Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Product</th>
                  <th>Delivery time</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="late">
          <div class="table-responsive">
            <h4>Late Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Product</th>
                  <th>Delivery time</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="delivered">
          <div class="table-responsive">
            <h4>Delivered Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Product</th>
                  <th>Delivery time</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="completed">
          <div class="table-responsive">
            <h4>Completed Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Product</th>
                  <th>Delivery time</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="cancelled">
          <div class="table-responsive">
            <h4>Cancelled Orders</h4>
            <table class="table table-info mb30">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Product</th>
                  <th>Delivery time</th>
                  <th>Total</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- contentpanel -->
  </div>
  <!-- mainpanel -->
</section>

<section class="main-container col1-layout wow bounceInUp animated">
  <div class="main container">
    <div class="page-title">
      <div class="col-md-3">
        <h2>My Orders</h2>
      </div>
      <div class="col-md-9">  
        <%= form_tag orders_index_path  do %>
          <%= select_tag "search_date", options_for_select([ "Today", "This Week", "1 Month Ago", "2 Month Ago", "3 Month Ago" , "All"], "Select An Option") %>
          <%= submit_tag "Search" ,class: "search-btn"%>
        <% end %>
      </div>
    </div>
    <div class="table-responsive" id="order_search">
     <%= render partial: 'dashboard/shared/data' %>
    </div>
  </div>
</section>