<% content_for :javascript do %>
  <%= javascript_include_tag 'bootstrap-slider', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>
    $(document).ready(function(){
      $("#ex2").slider({});
      // Without JQuery
      var slider = new Slider('#ex2', {});
    })
  </script>
<% end %>

  <!-- Fields for storing lat long informations -->
  <input data-store-query="latitude" class="current_lat" type="hidden"/>
  <input data-store-query="longitude" class="current_lng" type="hidden"/>

  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&mdash;›</span></li>
            <li class="category13"><strong>Product Search</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end header --> 
  <div class="main-container col2-left-layout bounceInUp animated">
    <div class="container">
      <div class="row">
        <div class="sidebar col-sm-3 col-lg-3">
          <aside class="col-left">
            <div class="block block-layered-nav">
              <div class="block-title"> Search by Pincode </div>
              <div class="block-content">
                <dl id="narrow-by-list2">
                  <div class="ui-widget">
                    <input data-store-query="pin_code" class="seacrch-input">
                  </div>
                </dl>
              </div>
            </div>
            <div class="block block-layered-nav">
              <div class="block-title"> Search by location </div>
              <div class="block-content">
                <dl id="narrow-by-list2">
                  <div class="ui-widget">
                    <input id="product-search-by-location" data-store-query="location" class="seacrch-input">
                  </div>
                </dl>
              </div>
            </div>
            <div class="block block-layered-nav">
              <div class="block-title">Near By</div>
              <div class="block-content">
                <div class="near-by">
                  <input data-store-query="distance" id="ex2" type="text" class="span2" value="" data-slider-step="1" data-slider-max="50" data-slider-value="0"/>
                  <br>
                  <span class="" style="color: rgb(153, 153, 153);">----------- up to 50 km -----------</span></div>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-main col-sm-9">
          <%= form_tag stores_search_index_path, method: :get do %>
            <div class="input-group" id="serch-box">
              <div class="input-group-btn search-panel">
                <button type="button" class="btn btn-default dropdown-toggle filter-btn" data-toggle="dropdown"> <span id="search_concept">Shops</span> <span class="caret"></span> </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a data-url="<%=search_index_path%>" class="search-main-actions" href="#contains">Products</a></li>
                  <li><a data-url="<%=search_index_path%>" class="search-main-actions" href="#its_equal">Shops</a></li>
                </ul>
              </div>
              <input type="text" data-store-query="q" class="form-control" name="q" value="<%= params[:q] %>" placeholder="Search Here...">
              <span class="input-group-btn">
              <button class="btn btn-default filter-btn" id="search_it_now" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span> 
            <% end %>
          </div>
          <div class="category-products">
            <ul class="products-grid" data-object="search_stores">
            </ul>
            <div id="loadmoreajaxloader" style="display:none;"><center><img src="/assets/loader.gif" /></center></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="lineModalLabel">Riview List</h3>
        </div>
        <div class="modal-body"> 
          
          <!-- content goes here --> 
          
        </div>
        <div class="modal-footer"> </div>
      </div>
    </div>
  </div>

<script id="search-stores" type="text/x-handlebars-template">
  <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
    <div id="product-main-section">
      <div class="related-shops">
        <div class="shop-img"> <img class="media-object" src="/assets/Restaurant-KFC.jpg"></div>
        <div class="well">
          <div class="media"> <a class="pull-left" href="#"> <img class="media-object" src="/assets/kfc-logo.jpg"> </a>
            <div class="media-body">
              <h4 class="media-heading">{{name}}</h4>
              <div class="lead">
                <div id="stars" class="starrr"></div>
              </div>
              <p class="rating-links"> <a data-target="#review-modal" data-toggle="modal" href="#">1 Review(s)</a></p>
              <p><i class="fa fa-map-marker"></i>{{full_address}}</p>
            </div>
          </div>
        </div>
        <div class="view-btn"> <a href="/store/{{id}}" class="view-shop">View Shop</a></div>
      </div>
    </div>
  </li>
</script>