<span>Account Number: <%= seller_document.account_number%></span><br>
<span>Account Name: <%= seller_document.account_name%></span><br>
<span>Bank Name: <%= seller_document.bank_name%><br>
<span>State: <%= seller_document.state%><br>
<span>City: <%= seller_document.city%><br>
<span>Branch: <%= seller_document.bank_branch%><br>
<span>IFSC Code: <%= seller_document.ifsc_code%><br>
<span>Address Proof: <%= seller_document.address_proof%><br>
	<%= image_tag seller_document.upload_address_proof%></span><br>
<span>Cancelled Cheque:<%= image_tag seller_document.cancelled_cheque%></span><br>
