<span>
	Business Name: <%= seller_document.business_name%>
</span><br>
<span>
	Business Type: <%= seller_document.business_type%>
</span><br>
<span>
	PAN Card Number: <%= seller_document.pan_card_number%><br>
	<%= image_tag seller_document.pan_card%>
</span><br>
<span>
	VAT Card Number: <%= seller_document.vat_card_number%><br>
	<%= image_tag seller_document.vat_card%>
</span><br>
<span>
	TAN/TIN Card Number: <%= seller_document.tan_card_number%><br>
	<%= image_tag seller_document.tan_card%>
</span><br>
