<h1>Listing Sellers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Business Details</th>
      <th>Bank Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sellers.each do |user| %>
      <tr>
        <td><%= user.full_name%></td>
        <td><%= user.email%></td>
        <td><%= user.mobile%></td>
        <td><%= render 'business_details',user: user%></td>
        <td><%= render 'bank_details',user: user%></td>
      </tr>
    <% end %>
  </tbody>
</table>




<style type="text/css">
  .modal-content{
    width: 180%;
    margin-left: -25%;
  }
  .btn-primary{
    background-color: #333333;
  }
  .modal-body img{
    width: 100%;
  }
</style>

