<%= link_to_unless_current "English", locale: "en" %> |
<%= link_to_unless_current "Hindi", locale: "hi" %>
<div class="mm-toggle-wrap">
  <div class="mm-toggle">
    <i class="icon-align-justify"></i>
    <span class="mm-label">Menu</span> 
  </div>
</div>
<div class="span_1_of_1">
  <h2><%=t".select"%>
  </h2>
  <%= form_tag search_index_path, method: :get do %>
    <div class="search">
      <div class="input-group">
          <div class="input-group-btn search-panel">
            <button type="button" class="btn dropdown-toggle select-option" data-toggle="dropdown">
              <span id="search_concept"><%=t".product"%></span> <span class="caret"></span>
            </button>
            <ul id="search_selection" class="dropdown-menu" role="menu">
              <li><a data-text="Search for a product" data-action="/search" href="#"><%=t".product"%></a></li>
              <li><a data-text="Search for a store"  data-action="/search/stores" href="#"><%=t".shop"%></a></li> 
            </ul>
          </div>
          <input type="text" class="form-control" name="q" placeholder="Search for a product" id="search_text">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="search_button"><span class="fa fa-search"></span></button>
          </span>
      </div>
    </div>
  <% end %>
</div>
<div id="magik-slideshow" class="magik-slideshow">
  <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
    <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
      <ul>
        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/assets/slide-img1.jpg'><img src='/assets/slide-img1.jpg' alt="slide1" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  /> </li>
        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/assets/slide-img2.jpg'><img src='/assets/slide-img2.jpg' alt="slide2" data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat'  /> </li>
      </ul>
    </div>
  </div>
</div>
<div class="features">
  <div class="">
    <div id="features-carousel" class="util-carousel features-carousel">
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img1.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img2.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img3.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img4.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img1.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
      <div class="item">
        <div class="product_box user_style3" data-hipop="one-horizontal"><!-- Main Box Open --> 
          
          <img src="/assets/promo-banner-img2.png"> <a href="#" class="popup">BUY</a> </div>
      </div>
    </div>
  </div>
</div>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>ADVANTAGE  FOR <span class="red-title">SELLERS</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/service-1.jpg" width="274" height="182">
        <div class="color-box1"> Business </br>
          24/7 </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/service-2.jpg" width="274" height="182">
        <div class="color-box2"> BOOST </br>
          YOUR SALES </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/service-3.jpg" width="274" height="182">
        <div class="color-box3"> In TOUCH</br>
          YOUR CUSTOMERS </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/service-4.png" width="274" height="182">
        <div class="color-box4"> ONLINE</br>
          STORE CONTROL </div>
      </div>
    </div>
  </div>
</section>
<section class="gray-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>How to <span class="red-title">Sell</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon1.png" width="140" height="140">
      </center>
      <h1 class="step-title">Upload product</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon2.png" width="140" height="140">
      </center>
      <h1 class="step-title">Get order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon3.png" width="140" height="140">
      </center>
      <h1 class="step-title">deliver order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon4.png" width="140" height="140">
      </center>
      <h1 class="step-title">Receive payment</h1>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>trending <span class="red-title">shops</span></span> </h1>
    </div>
    <div class="team-showcase">
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/subway.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/titan.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/pantaloons.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/relince.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>ADVANTAGE  FOR <span class="red-title">Buyers</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img1.jpg" width="274" height="182">
        <div class="color-box1"> Get Better</br>
         Offers</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img2.jpg" width="274" height="182">
        <div class="color-box2"> Save Your </br>Quailty Time</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> <img src="/assets/img3.jpg" width="274" height="182">
        <div class="color-box3"> Faster </br>Delivery</div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="advance-box"> 
        <img src="/assets/img4.jpg" width="274" height="182">
        <div class="color-box4"> 
          Choose Deliver timing </br>per you convince
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gray-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>How to <span class="red-title">Buy</span></span> </h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon5.png" width="140" height="140">
      </center>
      <h1 class="step-title">Receive product</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon2.png" width="140" height="140">
      </center>
      <h1 class="step-title">Place order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon3.png" width="140" height="140">
      </center>
      <h1 class="step-title">collect order</h1>
    </div>
    <div class="col-md-3 col-sm-6">
      <center>
        <img src="/assets/icon4.png" width="140" height="140">
      </center>
      <h1 class="step-title">do the payment</h1>
    </div>
  </div>
</section>
<section class="white-bg">
  <div class="container">
    <div class="page-title">
      <h1 class="border title--border"> <span>trending <span class="red-title">products</span></span> </h1>
    </div>
    <div class="team-showcase">
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product1.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product2.jpg"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product3.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="item">
          <div class="media-holder"> <img src="/assets/product4.jpg" width="275" height="183"></div>
          <div class="social-links"> <a href="#">Read More</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parallax-2">
  <div class="container">
    <div class="col-xs-12">
      <div class="carousel slide carousel-new" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- /Slide1 -->
          <div class="item">
            <ul class="thumbnails">
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p4.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
              <li class="col-sm-3">
                <div class="fff">
                  <div class="thumbnail"> <a href="#"><img src="/assets/p5.jpg" width="340" height="340"></a> </div>
                  <div class="caption">
                    <h4>Praesent commodo</h4>
                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
<div id="selectAreaPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center><h4 class="modal-title"><i class="fa fa-map-marker"></i>&nbsp;Select Your Area</h4></center>
            </div>
            <div class="modal-body">
                <form>
                            <!-- <div class="form-group">
                                
                                <select class="form-control"><option value="0">Select Your State</option><option value="50">Andhra Pradesh</option><option value="36">Delhi</option><option value="49">Gujarat</option><option value="35">Haryana</option><option value="48">Jharkhand</option><option value="44">Karnataka</option><option value="41">Kerala</option><option value="40">Madhya Pradesh</option><option value="38">Maharashtra</option><option value="45">Odisha</option><option value="47">Punjab</option><option value="42">Rajasthan</option><option value="39">Tamil Nadu</option><option value="46">Telangana</option><option value="34">Uttar Pradesh</option><option value="43">Uttarakhand</option><option value="37">West Bengal</option></select>
                            </div> -->
                            <div class="title">
                                Indore
                            </div>
                            <div class="form-group">
                              <input type="text" placeholder="Enter Your Area" id="user_address" class="form-control">

                            </div>
                            <div class="text-center">
                                <input type="button" value="Start Shopping" class="btn start-shopping btn-block" id="">

                            </div>
                        </form>
            </div>
        </div>
    </div>
</div> 
 <script type="text/javascript">
   $(document).ready(function(){
$("#selectAreaPopup").modal('show');
});
</script>
<script type="text/javascript">
 // script for address autocomplete search
$(function(){
    var autocomplete;
    var geocoder;
    var input = document.getElementById('user_address');
    var options = {
      componentRestrictions: {'country':'in'}
    };

    autocomplete = new google.maps.places.Autocomplete(input,options);
});
</script>