  
  <!-- Main Container -->
  <section class="main-container col1-layout wow bounceInUp animated">
    <div class="main container checkout-process-div">
      <div class="col-main">
        <div class="cart">
          <div class="panel panel-primary"> 
            <div class="panel-heading"> 
              <h3 class="panel-title">1. BEFORE YOU PLACE YOUR ORDER > Sign In</h3> 
            </div> 
            <div id="checkout-panel-1" class="panel-body panel-collapse collapse in" aria-expanded="true"> 
              <div>
                <div class="col-md-8">
                  <div id="take-user-mobile">
                    <div class="login-wrapper">
                      <div class="content">
                        <div id="form_wrapper" class="form_wrapper"> 
                          <%= form_tag get_started_checkout_index_path,class:"login active", remote: true do %>
                              <h4>Get started with our secure login flow</h4>
                              <div class="login-box">
                                <%= text_field_tag :mobile, nil, placeholder: "Enter mobile number", class: "form-control" %>
                              </div>
                            <div class="bottom">
                              <div class="row">
                                <div class="col-md-6">
                                  <%= submit_tag :continue %> 
                                 </div>
                              </div>
                              <div class="clear"></div>
                            </div>
                          <% end if !user_signed_in? %>  
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>
                  <div id="sign-in-form-place">
                    <%= render '/checkout/shared/logout' if user_signed_in? %>
                  </div>
                </div> 
              </div>
            </div> 
          </div>
          <div class="panel panel-primary"> 
            <div class="panel-heading"> 
              <h3 class="panel-title">2. DELIVERY ADDRESS</h3> 
            </div> 
            <div id="checkout-panel-2" class="panel-body panel-collapse collapse" aria-expanded="true"> 
              <div>
                <div id="checkout-delivery-address">
                </div>
              </div>
            </div> 
          </div>
          <div class="panel panel-primary"> 
            <div class="panel-heading"> 
              <h3 class="panel-title">3. ORDER SUMMARY</h3> 
            </div> 
            <div id="checkout-panel-3" class="panel-body panel-collapse collapse" aria-expanded="true">  
              <div >
                <div id="checkout-orders">
                </div>
              </div>
            </div> 
          </div>
          <div class="panel panel-primary"> 
            <div class="panel-heading"> 
              <h3 class="panel-title">4. PAYMENT METHOD</h3> 
            </div> 
            <div id="checkout-panel-4" class="panel-body panel-collapse collapse" aria-expanded="true"> 
              <div >
                <div id="payment-methods">
                </div> 
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>


  <% content_for :popup do %>
  <div class="modal fade" id="new-address-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="add-new-address-container">
          <div class="login-categories">
          <div id="form_wrapper" class="form_wrapper"> 
            <h5>Enter a new shipping address</h5>
            <hr/>
            <%= form_for(ShippingAddress.new, url: add_delivery_address_checkout_index_path, html:{ class:"checkout-add-address active"}, remote: true) do |f| %>
              <%= devise_error_messages! %>
              <%= flash_messages %> 
                  <div class="col-md-4"><label>Firstname</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :first_name, required: true %>
                  </div>
                  <div class="col-md-4"><label>Lastname</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :last_name, required: true %>
                  </div>
                  <div class="col-md-4"><label>Mobile</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :mobile, required: true %>
                  </div>     
                  <div class="col-md-4"><label>Address</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :address, required: true %>
                  </div>
                  <div class="col-md-4"><label>City</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :city, required: true %>
                  </div>
                  <div class="col-md-4"><label>State</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :state, required: true %>
                  </div>
                  <div class="col-md-4"><label>Country</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :country, required: true %>
                  </div>
                  <div class="col-md-4"><label>Pincode</label></div>
                  <div class="col-md-8">
                    <%= f.text_field :pin_code, required: true %>
                  </div>      
                <div class="bottom">
                <center><%= f.submit "Save & Continue" %></center>
                <div class="clear"></div>
              </div>
            <% end %>
          </div>
          <div class="clear"></div>
        </div>                
      </div>
    </div>
  </div>
<% end %>