
<section class="login-back">
  <div id="animate-area"></div>
  <div class="container-fluid">
    <div class="buyers-left">
      <img src="/assets/Login-buyes-step.png" >
    </div>
    <div class="col-md-4 col-md-push-8">
      <div class="buyers-login-right">
        <div>
          <center>
            <a href="/">
              <img src="/assets/meridookan-big.png" width="165" height="">
            </a>
          </center>
        </div>
        <div class="login-wrapper">
          <div class="content">
            <div id="form_wrapper" class="form_wrapper"> 
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"forgot_password active" }) do |f| %>
                <%= devise_error_messages! %>
                <%= flash_messages %>
                <div>
                  <%= f.text_field :mobile, autofocus: true %>
                </div>
                <div class="bottom">
                  <%= f.submit "Reset password" %><br />
                  <center>
                  <a href="<%=new_session_path(resource_name)%>" rel="login">Suddenly remebered? Log in here</a><br /> 
                  <a href="<%=new_registration_path(resource_name)%>" rel="register">You don't have an account? Register here</a></center>
                  <div class="clear"></div>
                </div>
              <% end %>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="animate-area2"></div>
</section>