<div class="leftpanel">
  <div class="logopanel">
    <h1><a href="/"><img alt="" src="/assets/footer-logo.png" class=""></a></h1>
  </div>
  <!-- logopanel -->
  <div class="leftpanelinner">
    <!-- This is only visible to small devices -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
      <div class="media userlogged">
        <img alt="" src="/assets/loggeduser.png" class="media-object">
        <div class="media-body">
          <h4>John Doe</h4>
          <span>"Life is so..."</span>
        </div>
      </div>
      <h5 class="sidebartitle actitle">Account</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket mb30">
        <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
        <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
        <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
      </ul>
    </div>
    <!-- <h5 class="sidebartitle">Navigation</h5> -->
    <ul class="nav nav-pills nav-stacked nav-bracket">
      <li class="<%= (params[:controller]== "dashboard" && params[:action]== "index") ? "active" : "" %>">
        <%= link_to ('<i class="fa fa-th-large"></i>Dashboard').html_safe,authenticated_root_path%>
        </li>
      <li class="<%= params[:action]== "my_shop" ? "active" : "" %>">
        <%= link_to ('<i class="fa fa-th-large"></i>Shop').html_safe,my_shop_dashboard_path %> 
      </li>
      <li class="<%= ( params[:controller]== "products"  && params[:action]== "index" ) ? "active" : "" %>">
        <%= link_to ('<i class="fa fa-th-large"></i>Products').html_safe,products_path %> 
      </li>
      <li class="<%= (params[:action]== "manage_sales" || params[:action]== "analytics" ) ? "active nav-parent" : "nav-parent" %>">
        <a href=""><i class="fa fa-edit"></i> <span>Selling</span></a>
        <ul class="children">
          <li><%= link_to ("<i class='fa fa-caret-right'></i> #{t '.Manage Sales'}").html_safe,manage_sales_dashboard_path%></li>
          <li><%= link_to ('<i class="fa fa-caret-right"></i>Analytics').html_safe,analytics_dashboard_path%></li>
        </ul>
      </li>
      <li class="<%= (params[:action]== "my_buyers" || params[:action]== "my_sellers") ? "active nav-parent" : "nav-parent" %>">
        <a href=""><i class="fa fa-edit"></i> <span>Contacts</span></a>
        <ul class="children">
          <li><%= link_to ('<i class="fa fa-caret-right"></i>My Buyers').html_safe,my_buyers_dashboard_path%></li>
          <li><%= link_to ('<i class="fa fa-caret-right"></i>My Sellers').html_safe,my_sellers_dashboard_path%></li>
        </ul>
      </li>
      <li><%= link_to ('<i class="fa fa-inbox"></i>Inbox').html_safe,inbox_dashboard_path%></li>
      <li><%= link_to ('<i class="fa fa-cog"></i>Profile Setting').html_safe,public_profile_setting_dashboard_path%></li>
    </ul>
  </div>
</div>