<div class="table-responsive">
	<h4>Products</h4>
	<table class="table table-info mb30 product_table">
	  <thead>
	    <tr>
	      <th>S. No.</th>
	      <th>Product Image</th>
	      <th>Product Name</th>
	      <th>Create Time</th>
	      <th>Price</th>
	      <th>Offer</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
  	<tbody>
			<% product.each_with_index do |product,index|%>
			  <tr>
			    <td><%= index+1 %></td>
			    <td><%= image_tag asset_path(product.galleries.first.photo.url),:size=>"60x60"%></td>
			    <td><%= product.title %></td>
			    <td><%= product.created_at.strftime("%B %d, %Y at %I %p") %></td>
			    <td><%= product.pricing.mrp_per_unit %></td>
			    <td><%= product.pricing.offer_on_mrp %></td>
			    <td>
			    	<%= link_to ('<i class="fa fa-edit"></i>').html_safe,edit_product_path(product) %> 
			    	<%= link_to ('<i class="fa fa-trash"></i>').html_safe, product , :confirm => 'Are you sure?', :method => :delete  %> 
			    </td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>