<section class="product-container col-main">
  <div class="page-title">
            <h2>Additional Offers</h2>
          </div>
  <%= form_for(@product) do |f| %>
  <div class="scope-table">
    <div class="col-md-12 clear-box">
    <div class="col-md-6 clear-box">
    <label for="pass">Category <span class="required">*</span></label>
                      <br>
      <%= f.fields_for :additional_offer do|ff|%>
        <%= ff.select :offer_type, set_offers_option, :include_blank=>"Select Offer Type" %>
        </div>
      <% end %>
    </div>
    </div>


    <div class="row">

      <%= f.fields_for :product_offer do|ff|%>
        <div id="product_offer" class="<%= product_offer_class(@product.offer_type,"product_offer") %>">
          <%= ff.hidden_field :choice_type,  class: "choice_type product_choice_type" %>
          <div class="col-md-6">
            <div data-value="1" data-target="product" data-target="product" style="<%= visiblily_for_image(ff.object.choice_type, 1) %>" class="background-opacity buy_and_get_products">
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label :buy%>
              <%= ff.text_field :buy,:class=>"form-control"%>
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label :get%>
              <%= ff.text_field :get,:class=>"form-control"%> Free
            </div>
            <br/>
            <br/>
          </div>
          <div class="col-md-6">
            <div data-value="2" data-target="product" style="<%= visiblily_for_image(ff.object.choice_type, 2) %>" class="background-opacity gift_on_products">
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label :buy%>
              <%= ff.text_field :buy_for_gift,:class=>"form-control"%>
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label "Add a gift" %>          
              <%= ff.text_field :gift,:class=>"form-control"%>&nbsp;
            </div>            
            <br/>
            <br/>
          </div>          
        </div>
      <%end%>



      <%= f.fields_for :price_offer do|ff|%>
        <div id="price_offer" class="<%= product_offer_class(@product.offer_type,"price_offer") %>">
          <%= ff.hidden_field :choice_type,  class: "choice_type price_choice_type" %>
          <div class="col-md-6">
            <div data-value="1" data-target="price" style="<%= visiblily_for_image(ff.object.choice_type, 1) %>" class="background-opacity percentage_on_amount">
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label :amount, "Total Amount of products" %>
              <%= ff.text_field :amount,:class=>"form-control"%>
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label :percent, "Percentage discount on price"%>
              <%= ff.text_field :percent,:class=>"form-control"%>%
            </div>            
            <br/>
            <br/>
          </div>
          <div class="col-md-6">
            <div data-value="2" data-target="price" style="<%= visiblily_for_image(ff.object.choice_type, 2) %>" class="background-opacity gift_on_amount">
            </div>  
            <div class="col-md-12 form-margin-top">
              <%= ff.label :amount, "Total Amount of products" %>
              <%= ff.text_field :amount_for_gift,:class=>"form-control"%>
            </div>
            <div class="col-md-12 form-margin-top">
              <%= ff.label "Add a gift" %>          
              <%= ff.text_field :gift,:class=>"form-control"%>&nbsp;
            </div> 
            <br/>
            <br/>
          </div>  
        </div>
      <%end%>


      <%= hidden_field_tag :referrer_action, (params[:referrer_action] || params[:action]) %>
      <div class="col-md-12 form-margin-top">
        <%= f.button "Save & Continue",:class=>"btn btn-success" %>
        <%= f.button "Skip & Continue",:class=>"btn btn-success" %>
      </div>


    </div> 
  <% end %>
</section>




  