<section class="product-container col-main">
  <div class="page-title">
            <h2>Scope & Pricing</h2>
          </div>
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
     <%= f.fields_for :pricing do |ff| %>
    <div class="scope-table"> 
    <div class="table-responsive ">
      <ul class="form-list">
                <li>
                  <div class="col-md-12 clear-box">
                    <div class="col-md-6 clear-box">
                      <label for="tag"><b>Product in Stcok</b></label>
                      <br>
                      <%= ff.number_field :stock_quantity, min: 0 %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="col-md-12 clear-box">
                    <div class="col-md-6 clear-box">
                      <label for="tag"><b>MRP per unit</b></label>
                      <br>
                      <%= ff.text_field :mrp_per_unit %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="col-md-12 clear-box">
                    <div class="col-md-6 clear-box">
                      <label for="tag"><b>Offer on MRP</b></label>
                      <br>
                      <%= ff.text_field :offer_on_mrp %>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="col-md-12 clear-box">
                    <div class="col-md-6 clear-box">
                      <label for="tag"><b>Net Price</b></label>
                      <br>
                      <%= text_field_tag :net_mrp, calculate_net_mrp(ff.object),:disabled=>true%>
                    </div>
                  </div>
                </li>
              </ul>
    </div>
    </div>
    <%end%>
      <%= hidden_field_tag :referrer_action, (params[:referrer_action] || params[:action]) %>
      <div class="row">
        <div class="col-md-4 form-margin-top">
          <%= f.button "Save & Continue",:class=>"btn btn-success" %>
        </div>
      </div>
  <%end%>
</section>
<script type="text/javascript">
    
  $("#product_pricing_attributes_mrp_per_unit,#product_pricing_attributes_offer_on_mrp").on('keyup',function(){
     var mrp = $("#product_pricing_attributes_mrp_per_unit").val()
     var offer_price = $("#product_pricing_attributes_offer_on_mrp").val() 
     if(!offer_price){
       offer_price=0
     }
     if((mrp > 0) && (offer_price >= 0)){          
       calculate_offer(mrp,offer_price)          
     }
     else
     {
       alert("Invalid Offer price or MRP")
     }    
   })
  var calculate_offer = function (mrp,offer_price) {
    value = Math.round((mrp-offer_price) * 100) / 100
    $("#net_mrp").val(value)
  }
</script>
