<div class="product_publish">
<%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :status , :value=>true%>
    <%= hidden_field_tag :referrer_action, (params[:referrer_action] || params[:action]) %>

    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <%= link_to edit_product_path(@product) do %>
          <i class="fa fa-pencil-square-o"></i>
        <%end if @product.store.user_id==current_user.id%>
        <%= image_tag @product.galleries.first.photo.url, class: "img-responsive" %>
        <div class="caption-full">
          <h4 class="pull-right"><%=@product.net_mrp%></h4>
          <h4><%= link_to @product.title, @product %></h4>
          <p><%=@product.description%></p>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
    <div class="text-center">  
      <%= f.button "Click Here to publish",:class=>"btn btn-success" %>
    </div>
    <br/>
<% end %>
