<div class="product_publish col-main">
  <div class="page-title">
    <h2>Preview/Publish</h2>
    </div>
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :status , :value=>true%>
    <%= hidden_field_tag :referrer_action, (params[:referrer_action] || params[:action]) %>
    <div class="col-md-6 col-md-offset-3">
      <div class="thumbnail">
        <%= link_to edit_product_path(@product) do %>
          <i class="fa fa-pencil-square-o"></i>
        <%end if @product.store.user_id==current_user.id%>
        <%= image_tag @product.galleries.first.photo.url, class: "img-responsive" %>
        <div class="caption-full">
          <h4 class="pull-right"><%=@product.net_mrp%></h4>
          <h4><%= link_to @product.title, @product %></h4>
          <%=@product.description.html_safe%>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
    <div class="text-center">  
      <%if !f.object.status %>
        <% if @product.approve %>
          <div class="text-center">  
            <%= f.button "Click Here to publish",:class=>"btn btn-success" %>
          </div>
        <%elsif @product.apply_approve %>
            <%= link_to "Wait For Approval","#",class: "btn btn-success"%>
        <%elsif (@product.cancelled) && ( !@product.apply_approve)  %>
            <p>
              Your product has been reject , please check product and reply apply again
              <i class="fa fa-comment-o" data-toggle="modal" data-target="#project_activity_list"></i>
            </p>
            <%= render 'product_activities_list',product: @product%>
            <%= link_to "Re-apply For Approval",apply_approve_product_path(@product),class: "btn btn-success"%>
        <%elsif !@product.apply_approve %>
            <%= link_to "Apply For Approval",apply_approve_product_path(@product),class: "btn btn-success"%>
        <%end%>
      <% else %>
        <div class="text-center">  
          <%= link_to "Published", "#", :class=>"btn btn-success"%>
        </div>
      <%end%>
    </div>
    <br/>
  <% end %>
</div>

<style type="text/css">
  .fa{
    font-size: 24px;
    cursor: pointer;
  }
  .modal-backdrop.in {
    opacity: 0;
  }
  .modal-backdrop{
    position: inherit;
  }
  .modal{
    margin-top: 10%;
  }
</style>

