<div class="row">
  <div class="col-md-12 form-margin-top">
    <%= f.label(:title).upcase.html_safe %>
    <%= f.text_area :title,:class=>'form-control',size: "1x1" ,:maxlength=>"80", required: true%> max 80 characters
  </div>
  </div>
  <div class="row">

  <div class="col-md-12 form-margin-top">
    <%= f.label(:description).upcase.html_safe %>
    <%= f.text_area :description,:class=>'wysihtml5 form-control',size: "5x10",:maxlength=>"1200"%>max 1200 characters
  </div>
  </div>
  <div class="row">
  <div class="col-md-12 form-margin-top">
    <%= f.label(:category).upcase.html_safe %>
    <%= f.select :category_id,get_parent_category.unshift(['-- Select Category --',""]), required: true%>
    <%= f.select :sub_category_id,get_child_category.unshift(['-- Select Sub Category --',""])%>
    <%= f.select :child_sub_category_id,get_sub_child_category.unshift(['-- Select Sub Category --',""])%>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-margin-top">
      <%= f.label(:gallery).upcase.html_safe%><br/>
      <%= f.fields_for :galleries, required: true do |photo_f| %>
        <%= link_to "#",:id=>:bg_cover do%>
          <%= image_tag set_image(@product), width: 200%>
        <%end%>
        <%= photo_f.file_field :photo,:class=>"hide bg_cover_field",:onchange=>"readURL(this);"%>
      <%end%>
  </div>
  </div>
  <div class="row">
  <div class="field col-md-2 form-margin-top">
    <%= f.label(:delivery_time).upcase.html_safe %><br/>
    Maximum <%= f.select :delivery_time,options_for_select(set_delivery_time),{:prompt=>"SELECT"},:class=>"form-control delivery-margin", required: true %> <span class="deliver-text">to deliver</span> 
  </div>
  </div>

  <div class="row">
    <div class="field col-md-8 form-margin-top">
      <b>Tags (separated by commas)</b><br/>
      <%= f.text_field :tag_list,'data-role'=>'tagsinput', value: f.object.tags.join(", ")%>
    </div>
  </div>

  <%= hidden_field_tag :referrer_action, (params[:referrer_action] || params[:action]) %>