<div id="preloader">
  <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <div class="mainpanel">
    <div class="pageheader">
      <h2><i class="fa fa-home"></i> My Products</h2>
      <div class="breadcrumb-wrapper">
      <%= link_to 'Add a new Product', new_product_path,:class=>"pull-right btn add-product-btn" %>
      </div>
    </div>
    <div class="contentpanel panel-email">
      <ul class="nav nav-tabs" id="custom-tabs">
        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
        <li class=""><a href="#active" data-toggle="tab">Active</a></li>
        <li><a href="#approval" data-toggle="tab">Pending Approval</a></li>
        <li><a href="#cancel" data-toggle="tab">Cancelled</a></li>
      </ul>
      <!-- Tab panes -->      
      <div class="tab-content mb30 custom-tabs-content">
        <div class="tab-pane active" id="all">
          <%= render partial: 'dashboard/shared/product', locals: {product: @products} %>
        </div>
        <div class="tab-pane" id="active">
          <%= render partial: 'dashboard/shared/product', locals: {product: @products_approved} %>
        </div>
        <div class="tab-pane" id="approval">
          <%= render partial: 'dashboard/shared/product', locals: {product: @products_approved_false} %>
        </div>
        <div class="tab-pane" id="cancel">
          <%= render partial: 'dashboard/shared/product', locals: {product: @cancelled} %>
        </div>
      </div>
    </div>
  </div>
</section>

