<div class="container">
	<div class="stepwizard">
	    <div class="stepwizard-row setup-panel">
	        <div class="stepwizard-step">
	            <%= link_to "1", "#", class:"btn btn-success btn-circle" %>
	            <p>Product Overview</p> 
	        </div>
	        <div class="stepwizard-step">
	            <%= link_to "2", "#", class:"btn btn-default btn-circle", disabled: true %>
	            <p>Scope & Pricing</p> 
	        </div>
	        <div class="stepwizard-step">
	            <%= link_to "3", "#", class:"btn btn-default btn-circle", disabled: true %>
	            <p>Additional Offers</p> 
	        </div>
	        <div class="stepwizard-step">
	            <%= link_to "4", "#", class:"btn btn-default btn-circle", disabled: true %>
	            <p>Shiping Details</p> 
	        </div>
	        <div class="stepwizard-step">
	            <%= link_to "5", "#", class:"btn btn-default btn-circle", disabled: true %>
	            <p>Publish</p> 
	        </div>
	        
	    </div>
	</div>
	<div class="tab-content">
	  <p id="notice"></p>
	  <%= render 'form' %>
	</div>
</div>