<header>
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-xs-6 col-lg-6 hidden-xs"> 
            <%= link_to_unless_current "English", locale: "en" %> |
            <%= link_to_unless_current "Hindi", locale: "hi" %>
            <!-- Default Welcome Message -->
            <div class="welcome-msg"> Customer Care +91 - 7415721216</div>
            <!-- End Default Welcome Message --> 
          </div>

          <div class="col-sm-9 col-xs-6 col-lg-5">
            <% if user_signed_in? %>
              <div class="toplinks">
                <ul class="nav navbar-nav navbar-right top-right-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle color-white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user_name(current_user.first_name)%> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <%if admin?%>
                        <%= render "layouts/admin_options"%>
                      <%elsif buyer?%>
                        <%= render "layouts/buyer_options"%>
                      <%else%>
                        <%= render "layouts/seller_options"%>
                      <%end%>             
                      <li role="separator" class="divider"></li>
                      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete%></li>
                    </ul>
                  </li>
                </ul>
              </div>

            <% else %>
              <div class="toplinks">
                <div class="links"> 
                  <div class="login">
                    <a href="#" data-toggle="modal" data-target="#signup-modal"><span class="hidden-xs"><%=t('layouts.header.sign')%></span></a>
                  </div>
                  <div class="login">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><span class="hidden-xs"><%=t('layouts.header.login')%></span></a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          

            
            <!-- Search-col -->
            <div class="col-sm-1 col-xs-6 col-lg-1">
              <div class="menu_top">
                <div class="top-cart-contain pull-right"> 
                  <!-- Top Cart -->
                  <div class="mini-cart">
                    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a href="#" class="cart-items-count">(<%= current_order.order_items.count %>)</a></div>
                    <div id="cart-items-update">
                      <%= render "/shared/cart_items" %>
                    </div>
                  </div>
                  <!-- Top Cart -->
                  <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input class="effect_to_cart" value="1" type="hidden">
                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                  </div>
                </div>
                <!-- Header Language --> 
                
                <!-- End Header Currency --> 
                
              </div>
            </div>
          <!-- Search-col -->
         
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-sm-3 col-xs-12 col-md-2"> 
            <!-- Header Logo -->
            <div class="logo"><a title="Magento Commerce" href="/"><img alt="Meri dookan" src="/assets/footer-logo.png"></a>
            <span>India Ka MahaBazaar</span>
            </div>
            <!-- End Header Logo --> 
          </div>
          <!-- Navbar -->
          <% if params[:controller]=="products" && Tabs.product_tabs.include?(params[:action]) %>
            <h3><%= @product.id.nil? ? "Add Product" : "Edit Product" %></h3>
          <% else %>
            <%= render "layouts/users_categories" %>
          <% end %>
          <!-- end nav --> 
        </div>
      </div>
    </div>
  </div>

</header>