<li><%= link_to "My Shop",(store_path(current_user.store) rescue "#")%></li>
<li><%= link_to "My Products",products_path%></li>
<li><%= link_to "My Orders",orders_index_path%></li>
<li><%= link_to "Update Information", update_information_path%></li>
<li><%= link_to "Update Documents", update_documents_path%></li>
