<!DOCTYPE html>
<html>
<head>
  <title>Meri Dookan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascript %>
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,900">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <%= render "layouts/header"%>
    <%= render "layouts/flash_messages"%>
    <%= yield %>
    <%= render "layouts/footer"%>
  </div>
  <%= render "layouts/mobile_menu"%>
  <%= render "layouts/modal_popups"%>
  <%= render 'layouts/slider_scripts' %>
</body>
</html>
