<!-- Breadcrumbs -->
<div class="breadcrumbs bounceInUp animated">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&mdash;›</span></li>
          <li class="category13"><strong>Form</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End --> 
<!-- Main Container -->
<div class="main-container col2-right-layout bounceInUp animated" id="form-steps">
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <script src="http://maps.googleapis.com/maps/api/js"></script>
          <%set_resource_through_template%>
          <%= form_for(@resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,:role=>"form", class: "registration-form" }) do |f| %>
              <%= devise_error_messages! rescue ""%>      
              <div class="registration-form"> 
                <fieldset>
                  <div class="form-top">
                    <div class="form-top-left">
                      <%h1_text= (current_user.has_role? "seller")? "<h3>Step 1 / 3</h3>".html_safe : "<h3>Step 1 / 2 </h3>".html_safe %>     
                         <%= h1_text%>
                          <p>Tell us who you are:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="form-bottom">
                    <div class="form-group">
                       <%= f.text_field :first_name,
                            :placeholder=> "First name...",
                            class: "form-first-name form-control",
                            id: "form-first-name"%>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :last_name,
                            placeholder: "Last name...",
                            class: "form-last-name form-control",
                            id: "form-last-name"%>
                    </div>

                    <div class="form-group">
                      <%= f.email_field :email,
                            placeholder: "Email...",
                            class: "form-email form-control"%>
                    </div>

                    <div class="form-group">
                      <%= f.text_field :mobile,
                            placeholder: "Mobile",
                            class: "form-about-yourself form-control",:disabled=>true%>
                    </div>
                    <div class="form-group">
                      <%= f.phone_field :phone,
                            placeholder: "Phone No.",
                            class: "form-about-yourself form-control"%>
                    </div>
                    <button type="button" class="btn btn-next" onclick="setTimeout(initializeGmap,[1000])">Next</button>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-top">
                    <div class="form-top-left">
                      <%text = (current_user.has_role? "seller")? "<h3>Step 2 / 3</h3>".html_safe : "<h3>Step 2 / 2 </h3>".html_safe %>
                      <%= text%>
                      <p>Set up your address:</p>
                    </div>
                    <div class="form-top-right">
                      <i class="fa fa-key"></i>
                    </div>
                  </div>
                  <div class="form-bottom">
                    
                    <div class="form-group">
                        <%= f.text_field :address,
                              placeholder: "Street Address",
                              class: "form-address form-control",
                              id: "street-address"%>
                      </div>

                      <div class="form-group">
                        <%#= f.select :country,options_for_select(["India"]),{},
                              :class=> "form-address form-control",
                              id: "form-address"%>
                      </div>

                      <div class="form-group">
                        <%= f.text_field :city,
                              placeholder: "City",
                              class: "form-address form-control",
                              id: "form-address"%>
                      </div>

                      <div class="form-group">
                        <%= f.select :state,options_for_select(get_states,@resource.state),{},
                              :class=> "form-address form-control",
                              id: "form-address"%>
                      </div>

                      <div class="form-group">
                        <%= f.number_field :pin_code,
                              placeholder: "Pincode",
                              class: "form-address form-control",
                              id: "form-address"%>
                      </div>
                    <button type="button" class="btn btn-previous">Previous</button>
                    <%if current_user.has_role? "seller"%>
                      <button type="button" class="btn btn-next">Next</button>
                      <%else%>
                        <%= f.submit "Submit",class: "btn signup"%>
                      <%end%>
                  </div>
                </fieldset>
                <%if current_user.has_role? "seller"%>    
                  <fieldset>
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Step 3 / 3</h3>
                        <p>Your Store Details:</p>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-usd"></i>
                      </div>
                    </div>

                    <%= f.fields_for :store do |store_f| %>
                    <div class="form-bottom">
                        
                        <div class="form-group">
                          <%= store_f.text_field :name,
                                placeholder: "Store's Name...",
                                class: "form-address form-control",
                                id: "form-address",:required=>true%>
                        </div>

                        <div class="form-group">
                          <%= store_f.text_field :landmark,
                                placeholder: "Landmark",
                                class: "form-address form-control",
                                id: "form-address"%>
                        </div>

                        <div class="form-group">
                          <%= store_f.text_field :address,
                                placeholder: "Street Address",
                                class: "form-address form-control",
                                id: "form-address",:required=>true%>
                        </div>

                        <div class="form-group">
                          <%= store_f.select :state,options_for_select(get_states,get_states[16]),{},
                                :class=> "form-address form-control",
                                id: "form-address"%>
                        </div>

                        <div class="form-group">
                          <%= store_f.text_field :city,
                                placeholder: "City",
                                class: "form-address form-control",
                                id: "form-address"%>
                        </div>

                        <div class="form-group">
                          <%= store_f.number_field :pin_code,
                                placeholder: "Pincode",
                                class: "form-address form-control",
                                id: "form-address"%>
                        </div>
                        <%end%>
                      <button type="button" class="btn btn-previous">Previous</button>
                      <%= f.submit "Submit",class: "btn signup"%>
                    </div>
                  </fieldset>
                <%end%>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
